In [1]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
from sklearn.neural_network import MLPClassifier
import nltk
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

## I. Jeu de donnée Kaagle

In [4]:
df = pd.read_csv("Emotion_final.csv")
df .describe()

                            Text Emotion
count                      21459   21459
unique                     21405       6
top     i feel so tortured by it   happy
freq                           2    7029

In [8]:
df_x=df.iloc[:,1:]
df_y=df.iloc[:,0]

In [9]:
x_train, x_test,y_train, y_test = train_test_split(df_x,df_y, test_size=0.2, random_state=4)

NameError: name 'train_test_split' is not defined

In [10]:
per = Perceptron()

NameError: name 'Perceptron' is not defined

## II. Jeu de donnée data world

In [5]:
df = pd.read_csv("text_emotion.csv")
df .describe()

           tweet_id
count  4.000000e+04
mean   1.845184e+09
std    1.188579e+08
min    1.693956e+09
25%    1.751431e+09
50%    1.855443e+09
75%    1.962781e+09
max    1.966441e+09